<%- include('./partials/header')  %> 
</head>
<body>
    <h1><%=usuario.nombre%></h1>
    <ul>
        <li><%=usuario.email%></li>
        <li><%=usuario.fecha_de_nacimiento%></li>
    </ul>
    
<%- include('./partials/footer')  %>