<%- include('./partials/header')  %> 
</head>
<body>
    <form action="/peliculas/editar/<%=resenia.idresenias%>" method="POST">
        
        <div>
            <label for="">Email</label>
            <input type="email" name="email">
        </div>
        <div>
            <label for="">Contraseña</label>
            <input type="password" name="password">
        </div>
        <div>
            <label for="">Reseña</label>
            <input type="text" name="reseniaTexto" value="<%=resenia.texto_de_resenia%> ">
        </div>
        <div>
            <label for="">Puntaje</label>
            <input type="number" name="puntaje" min="0" max="10" value="<%=resenia.puntaje%>">
        </div>

        
        <input type="submit" value="Editar">
    </form> 
    
<%- include('./partials/footer')  %>