<%- include('./partials/head')  %> 
    <link rel="stylesheet" href="/stylesheets/modal.css">
    <link rel="stylesheet" href="/stylesheets/form.css">
    <link rel="stylesheet" href="/stylesheets/footerDos.css">
    <script type="text/javascript" src="/javascripts/misResenias.js"> </script>
    <script type="text/javascript" src="/javascripts/funciones.js"> </script>
    <title>Document</title>
</head>
<body>
  <h1 id="titulo"><span>Mis Resenias</span></h1>
    <div class="flex-container">
    <form action="/peliculas/misResenias" method="POST">
      <div class="uk-margin">
        <label id="label" for="">Email</label>
        <br>
        <div class="uk-inline">
        <span class="uk-form-icon" uk-icon="icon: user"></span>
        <input class="uk-input uk-form-width-large" type="email" name="email">
    </div>
    </div>  
      <div class="uk-margin">
        <label id="label" for="">Contraseña</label>
        <br>
        <div class="uk-inline">
        <span class="uk-form-icon" uk-icon="icon: lock"></span>
        <input class="uk-input uk-form-width-large" type="password" name="password">
      </div>
      </div>
        <input class="button button2" type="submit" value="Enviar">
    </form>
  </div>
    <% if (hayresenia == true) { %> 
   
      <% if (respuesta.length > 0) { %> 
    
      <h2 class="todasMisResenias">Todas mis resenias</h2>
    
      <% for (let i = 0; i < respuesta.length; i++) { %>
          <div>
              <p><%=respuesta[i].texto_de_resenia%></p>
                <%=respuesta[i].createdAt%>, 
              <p><%=respuesta[i].puntaje%><span class="fa fa-star checked"></span></p>
              <br>
              <br>
              <div class="flexboxButtons">
              <div>
                  <a href="/peliculas/editar/<%=respuesta[i].idresenias%>">
                      <button class="button button2" type="button">
                        Editar 
                      </button>
                  </a>
              </div>
              <br>
              <div>
                  <a href="/peliculas/borrar/<%=respuesta[i].idresenias%>">
                      <button class="button button2" type="button">
                        Borrar 
                      </button>
                  </a>
              </div>
              <br>
              <div>
                  <button id="botonDetalle" type="button" class="detalle" idpelicula="<%= respuesta[i].id_pelicula %>">
                        Detalle  
                  </button>
              </div>
            </div>
          </div>
          

      <% } %> 

    <% } else { %>

    <h2>No se encontraron resenias</h2>
    
    <% } %> 
    <% } else { %>
      
      
    <% } %> 
     
    
 <!-- <este es el modal que usamos para poner las decripciones y nombres de las peliculas, hay un solo modal que cambia su contenido por carrousel>-->
  <div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body" id="modalCss">
        <h2 class="uk-modal-title el-titular">Headline</h2>
        <div id="elDivFav" class="display-none"> </div>
        <p class="el-resumen">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="uk-text-right">
          <div id="elVerMas" class="display-none">
            <p class="laFecha"> </p>
            <p class="puntosPeli"> </p>
            <p class="generoDe"> </p>
            <p class="laLista"> </p>
            <div class="iframe">

            </div>
            <div class="recomendadas">
              <h2 class="h2">Películas Recomendadas</h2>

              <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider id="carrousel-modal">

                <ul id="carrousel-recomendadas" class="uk-slider-items uk-child-width-1 uk-child-width-1-3@s uk-child-width-1-4@m">
                    <!-- el contenido esta en javascript-->
                </ul>
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
              </div>
            </div>
            <div class="reseniasPelis">  </div>
            <div class="jsBackPlis"></div>
          </div>
          <div class="divBotones">

            <button class="uk-button uk-button-default" id="vamos">Ver más</button> 
            <button class="uk-button uk-button-default uk-modal-close" id="cancelar" type="button">Cerrar</button>
            
          </div>


      </p>

    </div>
   </div>
   <%- include('./partials/footerDos')  %>


